/* reset css để hủy bỏ  padding vs margin mặc định */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
    1. vị trí
    2. kích thước( wigth, heigh )
    3. màu sắc
    4.kiểu dáng ( kiểu chữ, hình tròn, hình vuông,...)
*/
/*
    1. từ ngoài vào trong
    2. từ trên xuống dưới
    3. tổng quan đến chi tiết 
*/

/* class common*/

.row{
  /* sử dụng cho 1 thẻ div */
  display: flex;
}

.col{
    width: 100%;
}

.column-third{
    padding: 0px 16px;
}

.col-haft{
  width: 50%;
}

.text-center{
    text-align: center !important;
}

.mt{
    margin-top: 8px;
}
/* end  class common */
#main{

}
/* Chỉnh phông chữ cho toàn bộ HTML*/
html{
    /* điều chỉnh kiểu cuộn chuyển page */
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
#nav > li{
    /* sử dụng cho 1 item */
    display: inline-block;
}
#nav li {
    position: relative;
}

/* tắt các dấu chấm trước chữ của Ul,li */
#nav, .subnav{
    list-style-type: none;
}

#nav>li>a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    text-decoration: none;
    /* thủ thuật chỉnh chữ ở giữa: tăng khoảng height bằng hearder*/
    /* line-height chiều cao của đường áp dụng cho chữ*/
    line-height: 52.5px;
    padding: 0 24px;
    /*Mặc định a là inline không đổi width và height
      thêm inline-block để ăn theo line-height*/
    display: inline-block;
}

/* lớp giả hover chỉ việc di chuyển chuột tới */
#nav .subnav li:hover,
#nav>li:hover>a{
    color: #000;
    background-color: #ccc;  
}

#nav li:hover .subnav{
    display: block;
}
/* chọn toàn bộ element trong class subnav
    lưu ý cú pháp select*/
#nav .subnav {
    display: none;
    position: absolute; 
    background-color: #fff; 
    Box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}


#nav .subnav a{
    color: #000;
    padding: 8px 16px;
    line-height: 16px;
} 
/* Chỉnh kích thước cho Icon */
#nav .nav-arrow-down{
    font-size: 12px;
}

#header{
    /* cách 1: đơn vị % relative ở đây ăn màn hình edge */
    /* width: 100%; */
    /* fixed ăn theo tỷ lệ màn hình  */
    /* giữ nguyên thanh header khi kéo đi */
    position: fixed;
    /* cách 2:cấu hình certain cho mọi trình duyệt */
    top: 0;
    left: 0;
    right: 0;
    /* đang set cứng height tùy trường hợp mà chỉnh lại */
    height: 52.5px;
    background-color: #000;
    /* các element hiển thị inline */
    display: flex;
    /* nâng độ cao của header lên trên sliver*/
    z-index: 1;
}

/* hidden menu mobile */
.mobile-menu-btn{
    display: none;
}

#header .search-btn{
    margin-left: auto;
    line-height: 52.5px;
    padding: 0px 24px; 
}

#header .search-btn:hover{
     /* thay đổi con trở chuột thành bàn tay */
    cursor: pointer;
    background-color: #f44336;
}

#header .nav-btn-search{
    color:#fff; 
    font-size: 14px;
}

#sliver{
    position: relative;
    margin-top: 52.5px;
     /* padding tạo khung cho element và tạo dày
     ghi để lên elemet khác, % ăn theo chiều ngang
     của chính nó: tỷ lệ 50% của chính nó */
     /* tạo background */
    padding-top: 50%;
    background: url('/assets/Img/Slider/Slider_1.jpg') top center / cover no-repeat;
}
#sliver .text-content{
    /* thẻ box ăn theo cha nhảy xuống top-left
    bay lên tầng cao hơn sliver */
    position: absolute;
    color: #fff;
    bottom: 47px;
    text-align: center;
    width: 100%;
   /*  line-height: 40px; */
}

#sliver .text-heading{
    font-weight: 500;
    /* chỉnh lại kích thước chữ */
    font-size: 24px;
}

#sliver .description{
    font-size: 15px;
    margin-top: 25px;
}

#content .Content-section{
    /* auto fix display PC */
    max-width: 800px;
    /* đẩy trái đẩy phải để ra giữa */
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
    margin-bottom: 80px;
}

/* content img */
#content .member-list{
    margin-top: 48px;
}

#content .member-img{
    width: 60%; 
    border-radius: 4px;
}

#content .member-name{
   font-size: 15px;
   margin-bottom: 15px;
}

#content .section-heading{
    margin: 10px 0px;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    line-height: 1.5;
    /* tạo khoảng cách giữa các chữ */
    letter-spacing: 4px;
}

#content .section-sub-heading{
    margin: 15px 0px;
    text-align: center;
    font-style: italic;
    font-size: 15px;
    line-height: 1.5;
    opacity: 60%;
}

#content .text-about{
    font-size: 15px;
    line-height: 1.5;
    margin: 15px 0px;
    text-align: justify;
}

/* section tour */
.tour-section{
    background-color: #000;
    color: #fff; 
    padding-bottom: 48px;
}

#content .tour-tickets{
    font-weight: 600;
    margin-top: 40px;
    list-style-type: none;
    border: 1px;
    background-color: #fff;
    color: #000;
}

.tour-tickets li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.tour-tickets .sold-out {
    background-color: red;
    color: #fff;
    padding: 2px 8px;
    margin-left:16px;
}

.tour-tickets .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    /* tạo độ dày và thành khung cho number3 */
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    line-height: 24px;
    /* tạo viền khung ở ngoài number3 */
    border-radius: 50%;
    /* sử dụng được margin âm khi có float */
    margin-top: -4px;
}

.tour-section .tour-img{
    margin-top: 32px; 
}

.tour-img .content-buytickets{
    padding: 0px 16px;
    background-color: #fff;
    color: #000;
    line-height: 1.6;
}

.tour-img .heading{ 
    font-size: 15px;
    padding: 15px 0px;
}

.tour-img .sub-heading{
    font-size: 15px;
    opacity: 0.6;
}

.tour-img .img-paragraph{
    font-size: 15px;
    margin: 15px 0px; 
}

.tour-img .buy-tickets{
    font-size: 15px;
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
    margin-bottom: 16px;
}
 
.buy-tickets:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;

}

.img{
   width: 100%; 
   display: block;
}

.img:hover{
    opacity: 0.6;
    cursor: pointer;
}

/* tạo lớp phủ modal */
.modal{
    display: none;
    /* làm cho thằng con nằm giữa chiều cao thằng cha */
    align-items: center;
    /* căn giữa theo chiều ngang */
    justify-content: center;
    /* begin: kĩ thuật chung tạo lớp phủ MODAL */
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    bottom:0;
    /* tạo đồ mờ cho nền main */
    background-color: rgba(0,0,0,0.4);
    /* end */
}

.modal-container{
    width: 900px;
    /* calculate khi kéo nhỏ cách mỗi bên 16px
        ( - ) phải có dấu cách thì mới được*/
    max-width: calc(100% - 32px);
    min-height: 200px;
    background-color: #fff;

}
.modal-close{
    float: right;
    font-size: 16px;
    padding: 16px;
    color: #fff;
}

.modal-close:hover{
    color:#000;
    background-color: #ccc;
    cursor: pointer;
}

.modal .modal-header{
    background-color: #009688;
    height: 130px;
    font-size: 30px;
    color: #fff;
    text-align: center;
    line-height:130px;
}

.modal .modal-ti-bag{
    margin-right: 16px;
}
.modal .modal-body{
    padding: 16px;
}

.modal-input{
    width: 100%;
}

.modal .modal-label{
    display: block;
    font-size: 15px;
    color: #000;
    margin: 15px 0px;
}

.modal .modal-input{
    padding: 8px;
    border: 1px solid #ccc;
}

.modal #buy-tickets{
    display: block;
    width: 100%;
    padding: 16px;
    margin: 16px 0px;
    font-size: 15px;
    background-color:#009688 ;
    color: #fff;
    border: none;
}

#buy-tickets:hover{
    opacity: 0.9;
    cursor: pointer;
}

.modal-help{ 
    font-size: 15px;
    float: right;
    margin: 16px 16px;
}

/* contact section */
/* cách 1 để đưa lên 1 hàng */
/* .information-human, .information-input {
  float: left;
} */
/* cách 2
    display: flex;
*/

.row.information-contact{
    padding-top: 40px;
}

.information-human {
    font-size: 18px;
    line-height: 1.5;
}

.ti-location-pin, .ti-tablet, .ti-email{
    padding-right: 20px;
}

.form-control{
    font-size:15px;
}

.form-contact{
    border: 1px solid #ccc;
    width: 100%;
    padding:8px;
}

.send{
    margin-top: 16px;
    padding: 8px 16px;
    float: right;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    border: none;
    /* chỉnh sửa trên trình duyệt iphone */
}

.send:hover{
    opacity: 0.8;
    cursor: pointer;
}
/* div kế thừa 100% màn hình nên css trực tiếp vào img */
.img-map img{
    /* lúc này chỉ cần thêm thuộc tính width:100% ăn theo thẻ
    cha là div thì nó sẽ tự căn chỉnh đúng màn hình
    vì div mặc định sẽ căn chỉnh vừa đủ với màn hình PC*/
    width:100%;
    display: block;
}

/* footer section */

#footer{
   text-align: center;
   padding: 70px 16px;
   background-color:#f1f1f1;
}

.icon-footer a{
    font-size: 24px;
    /* tắt gạch chân  phải css trực tiếp vào icon*/
    text-decoration: none;
    color: #000;
}

.icon-footer a:hover{
  opacity: 0.6;
}

.w3-footer{
    font-size: 15px;
    padding-top: 12px;
    opacity: 0.6;
}

